.admin-in-dashboard-title-change-password {
  color: #1A1A1A;
  font-family: "Urbanist";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -0.939px;
  text-align: center;
}

.admin-change-password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  /* border-radius: 15px;
  border: 2px solid #d2d2d2; */
}

.admin-change-password-form-form {
  display: flex;
  flex-direction: column;
  padding: 2%;
  border-radius: 15px;
  border: 2px solid #d2d2d2;
}

.admin-change-password-form-input {
  border-radius: 6px;
  border: 1px solid #ededed;
  background: #ededed;
  width: 500px;
  height: 60px;
  margin-top: 20px;
  color: #767676;
  font-family: 'Urbanist';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.289px;
}

.admin-change-password-form-button {
  color: #fefefe;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Urbanist';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.289px;
  width: 500px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #5925dc;
  background: #5925dc;
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .admin-in-dashboard-title-change-password {
    color: #1A1A1A;
    font-family: "Urbanist";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -0.939px;
    text-align: center;
  }

  .admin-change-password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    /* border-radius: 15px;
    border: 2px solid #d2d2d2; */
  }

  .admin-change-password-form-form {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 15px;
    border: 2px solid #d2d2d2;
  }

  .admin-change-password-form-input {
    border-radius: 6px;
    border: 1px solid #ededed;
    background: #ededed;
    width: 250px;
    height: 35px;
    margin-top: 20px;
    color: #767676;
    font-family: 'Urbanist';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.289px;
    text-transform: uppercase;
  }

  .admin-change-password-form-button {
    color: #fefefe;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Urbanist';
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.289px;
    width: 250px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #5925dc;
    background: #5925dc;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
  }
}